<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>
            <img src="{{ url_for('static', filename='/pic/logo.png') }}" class="Logo">
            <a href="{{ url_for('home') }}">Scyra</a>
        </h1>
        <nav class = "navbar">
            <a href="{{ url_for('home') }}">Home page</a>
            <a href="{{ url_for('rgb') }}">RGB</a>
            <a href="{{ url_for('login') }}">Login</a>
        </nav>
    </header>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html></div>