<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('home') }}">Scyra</a></h1>
    </header>
    <nav>
        <button onclick="window.location.href='{{ url_for('home') }}'">Home page</button>
        <button onclick="window.location.href='{{ url_for('rgb') }}'">RGB</button>
        <button onclick="window.location.href='{{ url_for('login') }}'">Login</button>
    </nav>
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" class="Logo">
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html></div>