<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
{% extends "body.html" %}
{% block content %}
<div class="container">
    <h1>Scyra</h1>
    <p>Wanna have a try on LED customiz? follow this step below to get one:</p>
    <div id="step1" class="step">
        <h2>1. Enter your WLED address</h2>
        <p>Provide the IP address of your WLED device to connect and retrieve its configuration.</p>
    </div>
    
    <div id="step2" class="step">
        <h2>2. LEDs per addressable group</h2>
        <p>Specify how many LEDs should be grouped together for customization.</p>
    </div>

    <div id="step2" class="step">
        <h2>2. LEDs per addressable group</h2>
        <p>Specify how many LEDs should be grouped together for customization.</p>
    </div>

    <!-- Redirect Button -->
    <div class="redirect">
        <button onclick="window.location.href='{{ url_for('step1_2') }}'">Start Customization →</button>  
</div>
<script src = "/static/js/home.js"></script>
{% endblock %}

    
    
