<head>
    <link rel="stylesheet" href="/static/css/l_r.css">
</head>
{% extends "body.html" %}
{% block content %}
<h2>Register</h2>
<form id="register-form" action="{{ url_for('register') }}" method="POST">
    {{ form.hidden_tag() }}  <!-- CSRF token -->
    
    {{ form.email.label }}
    {{ form.email }}
    
    {{ form.fname.label }}
    {{ form.fname }}
    
    {{ form.lname.label }}
    {{ form.lname }}
    
    {{ form.password.label }}
    {{ form.password }}
    
    {{ form.confirm_password.label }}
    {{ form.confirm_password }}
    
    {{ form.secret_question.label }}
    {{ form.secret_question }}
    
    {{ form.secret_answer.label }}
    {{ form.secret_answer }}
    
    {{ form.submit }}
</form>
{% endblock %}
