<head>
    <link rel="stylesheet" href="/static/css/l_r.css">
</head>
{% extends "body.html" %}
{% block content %}
<h2>Register</h2>
<form id="register-form" action="{{ url_for('register') }}" method="POST">
    {{ form.hidden_tag() }}  <!-- This adds the CSRF token -->
    
    <div>
        {{ form.email.label }}
        {{ form.email(required=true) }}
        {% if form.email.errors %}
            <span class="error">{{ form.email.errors[0] }}</span>
        {% endif %}
    </div>
    
    <div>
        {{ form.fname.label }}
        {{ form.fname(required=true) }}
        {% if form.fname.errors %}
            <span class="error">{{ form.fname.errors[0] }}</span>
        {% endif %}
    </div>
    
    <div>
        {{ form.lname.label }}
        {{ form.lname(required=true) }}
        {% if form.lname.errors %}
            <span class="error">{{ form.lname.errors[0] }}</span>
        {% endif %}
    </div>
    
    <div>
        {{ form.password.label }}
        {{ form.password(required=true, id="new_password") }}
        {% if form.password.errors %}
            <span class="error">{{ form.password.errors[0] }}</span>
        {% endif %}
    </div>
    
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(required=true, id="confirm_password") }}
        {% if form.confirm_password.errors %}
            <span class="error">{{ form.confirm_password.errors[0] }}</span>
        {% endif %}
    </div>
    
    {{ form.submit() }}
</form>
<p id="error-message" style="color: red; display: none;">Passwords do not match!</p>
<script src="/static/js/register.js"></script>
{% endblock %}
