<!DOCTYPE html>
<head>
    <script src = "/static/js/LEDgrid.js"></script>
    <link rel="stylesheet" href="/static/css/rgb.css">

</head>
{% extends "body.html" %}
{% block content %}
    <div class="color-grid" id="ledGrid"></div>
    <div class = "json-buttons-container">
        <button onclick="exportColors()">Get the JSON Output</button>
        <button onclick="outputToTextBox()">Output to Text Box</button> 
    </div>
    <pre id="output"></pre>
    <textarea id="jsonTextBox" readonly></textarea>
{% endblock %}
